**/.vscode/
vertexai.ipynb
**/__pycache__/
**/.pytest_cache/
**/.ipynb_checkpoints/
**/*.bin
etl-pipelines/catalogStore.selected_products.json
etl-pipelines/all_points.pkl
etl-pipelines/Metrics.ipynb
